<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>

    <script src="/static/dashboard.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
</head>
<body>
    <div class="content">
        <header>
            <h1>BY IROKO FABLAB</h1>
            <h2><strong>Connected DASHBOARD</strong></h2>
            <p role="img" aria-label="hamburger">🍔</p>
        </header>
    </div>
    <main>
        <div class="charContainer">
            <div id="temperature" class="chart">
                <text class="chartTitle">Prévision de température</text>
                <svg></svg>
            </div>
        </div>
    </main>
</body>
</html>